<ul class="nav">
	<li><a <% if(cur == 0){ %> class="cur" <% }else{%> href="./index.html" <%}%>>index</a></li>
	<li><a <% if(cur == 1){ %> class="cur" <% }else{%> href="./ejsdemo.html" <%}%>>ejsdemo</a></li>
	<li><a <% if(cur == 2){ %> class="cur" <% }else{%> href="./vuedemo.html" <%}%>>vuedemo</a></li>
</ul>