<ul class="nav">
	<li><a <% if(cur == 0){ %> class="cur" <% }else{%> href="${htmlWebpackPlugin}/index.html" <%}%>>index</a></li>
	<li><a <% if(cur == 1){ %> class="cur" <% }else{%> href="${htmlWebpackPlugin}/ejsdemo.html" <%}%>>ejsdemo</a></li>
	<li><a <% if(cur == 2){ %> class="cur" <% }else{%> href="${htmlWebpackPlugin}/vuedemo.html" <%}%>>vuedemo</a></li>
</ul>
${cur}${htmlWebpackPlugin}