<ul class="nav">
	<li><a <% if(cur == 0){ %> class="cur" <% }else{%> href="./index.html" <%}%>>index</a></li>
	<li><a <% if(cur == 1){ %> class="cur" <% }else{%> href="./ejs2data.html" <%}%>>ejs2data</a></li>
	<li><a <% if(cur == 2){ %> class="cur" <% }else{%> href="./test.html" <%}%>>test</a></li>
</ul>