<!DOCTYPE html>
<html>
	<head>
		<%= require('./common/meta.ejs')({htmlWebpackPlugin}) %>
		<title>home</title>
	</head>
	<body>
		<%= require('./common/header.ejs')({cur:1}) %>
		home
		<%= require('./common/footer.ejs')() %>
	</body>
</html>