<!DOCTYPE html>
<html>
	<head>
		<%= require('./common/meta.ejs')({htmlWebpackPlugin}) %>
		<title>index</title>
	</head>
	<body>
		<%= require('./common/header.ejs')({cur:0}) %>
		<video style="height:200px" controls src="${require('./assets/medias/video.mp4')}"></video>
		<div class="tt"></div>
		<%= require('./common/footer.ejs')() %>
	</body>
</html>