<ul class="nav">
	<li><a <% if(cur == 0){ %> class="cur" <% }%> href="./index.html">index</a></li>
	<li><a <% if(cur == 1){ %> class="cur" <% }%> href="./home.html">home</a></li>
</ul>
<% if(cur == 1){ %>
我只有在home页面上出现
<% }%>